# URL du bot Railway (configuré)
VITE_API_URL=https://dentsu-md-v9-production.up.railway.app

# Nom du bot (affiché sur le site)
VITE_BOT_NAME=DENTSU MD V9
VITE_DEV_NAME=NatsuTech's
VITE_BOT_IMAGE=https://files.catbox.moe/2ej8eo.jpg
VITE_CHANNEL_LINK=https://whatsapp.com/channel/0029VbC1s7fFnSz1YhZYc01h
VITE_GROUP_LINK=https://chat.whatsapp.com/GtXASqDdchAFvEJ95cQQ0F
VITE_TELEGRAM=https://t.me/Natsu_or_Dentsu
VITE_MAX_SESSIONS=50
